<div class="container mt-5">
  <h3 style="text-align: center" class="mb-4">Employee List</h3>

  <button
    type="button"
    class="btn btn-primary mb-2"
    (click)="routeToAddEmployee()"
  >
    New Employee
  </button>
  <table class="table" *ngIf="employees && employees.length > 0">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">Address</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let emp of employees">
        <th scope="row">{{ emp.name }}</th>
        <td>{{ emp.email }}</td>
        <td>{{ emp.phone }}</td>
        <td>{{ emp.address }}</td>
        <td>
          <button
            (click)="RouteToUpdateEmployee(emp.id)"
            type="button"
            class="btn btn-primary"
          >
            View</button
          >&nbsp;
          <button
            (click)="DeleteEmployee(emp.id)"
            type="button"
            class="btn btn-danger"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <p style="text-align: center" *ngIf="!employees || employees.length === 0">
    No employee found
  </p>
</div> 
